.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  /* grid-template-areas:
    "sidebar title sidebar"
    "rock paper scissors"
    "sidebar choices sidebar"
    "sidebar score sidebar"; */
}

/* .title {
  grid-area: title;
} */

.title {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
}
#rock {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}
#paper {
  grid-area: 5 / 3 / 6 / 4;
}
#scissors {
  grid-area: 5 / 4 / 6 / 5;
}

.choices {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: center;
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 5;
}
